.product-info{
    width: 100%;
    max-width: 600px;
    padding: 20px;
    text-align: center;
}

.product-info_title{
    font-weight: 600;
    margin-bottom: 15px;
}

.product-info_description{
    font-size: 0.9rem;
    line-height: 1.9;
    text-align: justify;
    margin-bottom: 40px;
}

.product-info_footer{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    justify-items:center;
}

.product-info_price-label, .product-info_quantity-label{
    font-weight: 400;
    font-size: 0.9rem;
    color: #aaa;
    margin-bottom: 5px;
}


.product-info_price-number{
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    gap: 7px;
    transform: translateX(10px);
}

.product-info_price-number::before{
    content: '$'
}

.counter{
    display: flex;
    border: 1px solid #aaa;
    width: max-content;
}

.counter_minus, .counter_plus, .counter_number{
    width: 30px;
    aspect-ratio: 1;
    display: flex;
    justify-content:center;
    align-items: center;
}

.counter_minus, .counter_plus{
    cursor: pointer;
    font-size: 1.4rem;
}

.counter_minus:hover, .counter_plus:hover{
    background: #eee;
}

.counter_number{
    aspect-ratio: 1.5;
    border-right: 1px solid #aaa;
    border-left: 1px solid #aaa;
}

.product-info_btn{
    grid-column: span 2;
    padding: 10px;
    background-color: var(--bg-color-red);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: filter 100ms ease;
    width: 100%;
}

.product-info_btn:hover{
    filter: brightness(1.1);
    transition: filter 100ms ease;
}

